body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../images/squid2.jpg);
  background-size: 10%;
  
  
}

a {
  color: rgb(245, 228, 0);
  font-weight: bold;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}



li {
  list-style: none;
}